<!DOCTYPE html>
	<html lang="en">

		<head>
		  	<meta charset="UTF-8">
			<title>Spark Printer Dashboard</title>
			<link href='http://fonts.googleapis.com/css?family=Halant' rel='stylesheet' type='text/css'>
			<link rel='stylesheet' href='/css/bootstrap-responsive.css' />
			<link rel='stylesheet' href='/css/bootstrap.css' />
			<link rel='stylesheet' href='/css/jumbotron-narrow.css' />

		</head>

		<body>

		<%= yield %>

		</body>
		

	</html>



	
